.ic_back {
    width: 30px;
    margin-top: 10px;
}
.header{
    margin-top: 5px;
    margin-bottom: 5px;
    
}
.title {
    color: #19406C;
    font-size: larger;
    width: 100%;
    align-items: center;
    align-content: center;
    justify-content: center;
}
.title>span {
    margin-left: 10px;
    font-weight: bold;
}
.titleInput {
    font-size: large;
    color: #19406C;
    font-size: large;
}
.inputPhone{
    width: 100%;
    border-bottom: 2px solid;
    border-color: #19406C;
    overflow: hidden;
}

input {
    border-width:2px;
    width: 100% !important;
    outline: none;
    border-bottom: 2px;
    border: none;
}
.bottomArea {
    width: 100%;
    text-align: center;
    align-items: center;
    
}

.btnNext {
    width: 200px;
    border-radius: 30px;
    color: #fff;
    border: none;
    padding: 5px;
    background-color: #3059E1;
    font-weight: bold;
}
.link_register {
    text-decoration: none;
    color: #19406C;
}
.Input_otp{
    font-size: small;
    font-weight: lighter;
}
.otpContainer {
    width: 100%;
}
.otpInput {
    display: block; 
    margin: 1em auto; 
    border-bottom: solid;
    padding: 0; 
    width: 100%;
    background: repeating-linear-gradient(90deg, rgb(8, 8, 8) 0 , rgb(5, 5, 5) 1ch, transparent 0, transparent 2ch) 0 100%/ 260px 1px no-repeat; 
    font: 38px monospace;
    letter-spacing: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }